@import "colors.scss";

a.close-back {
  color: #777777;
  font-size: 25px;
  padding-bottom: 20px;
  text-align: right;

  &:hover {
    color: $primary-blue;
  }

  &:active {
    span {
      transform: scale(0.9, 0.9);
    }
  }
}
