@import "colors.scss";

.navbar {
  margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: $logo-color;
  }
}

.header {
  .search-global {
    border: 1px solid white;
    border-radius: 0px;
    float: right;
    font-size: 14px;
    font-weight: 200;
    height: 50px;
    width: 70%;
  }
}
