@import "colors.scss";

.movie-tiles {
  // margin-right: 10px;
  min-height: 250px;
  padding-left: 0px;
  // padding-right: 0px;

  img {
    max-width: 100%;
    max-height: 188px;
    min-width: 334px;
  }

  h4 {
    color: #777;
  }

  &:hover {
    cursor: pointer;

    h4 {
      color: #333;
    }
    img {
      opacity: 0.7;
    }
  }

  &:active {
    transform: scale(0.95, 0.95);
    h4 {
      color: $logo-color;
    }
  }
}
