<div class="row">
  <div class="col-sm-12">
    <h1>Popular</h1>
    
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{selectedPopularity.name}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="pref in popularity"><a ng-click="dropdownPopularitySelected(pref)">{{pref.name}}</a></li>
        </ul>
    </div>

    <nav aria-label="...">
      <ul class="pager">
        <li ng-if="previousPage" class="previous">
          <a ui-sref="popularpage({ page: previousPage })">
            <span aria-hidden="true">&larr;</span>
            Previous</a>
        </li>
        <li ng-if="nextPage" class="next">
          <a ui-sref="popularpage({ page: nextPage })">
            Next
            <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="col-sm-6 movie-tiles"
      ng-repeat="movie in movies">
      <img ng-src="{{movie.img_path}}"
        alt="poster"
        class="img-rounded">
      <h4>{{movie.title}}</h4>
      <!-- <p>{{movie.overview}}</p> -->
    </div>

    <nav aria-label="...">
      <ul class="pager">
        <li ng-if="previousPage" class="previous">
          <a ui-sref="popularpage({ page: previousPage })">
            <span aria-hidden="true">&larr;</span>
            Previous</a>
        </li>
        <li ng-if="nextPage" class="next">
          <a ui-sref="popularpage({ page: nextPage })">
            Next
            <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</div>
